[submodule "aux/bro-aux"]
	path = aux/bro-aux
	url = https://github.com/bro/bro-aux
[submodule "aux/binpac"]
	path = aux/binpac
	url = https://github.com/bro/binpac
[submodule "aux/broccoli"]
	path = aux/broccoli
	url = https://github.com/bro/broccoli
[submodule "aux/broctl"]
	path = aux/broctl
	url = https://github.com/bro/broctl
[submodule "aux/btest"]
	path = aux/btest
	url = https://github.com/bro/btest
[submodule "cmake"]
	path = cmake
	url = https://github.com/grutz/cmake
[submodule "src/3rdparty"]
	path = src/3rdparty
	url = https://github.com/bro/bro-3rdparty
