[submodule "aux/bro-aux"]
	path = aux/bro-aux
	url = https://github.com/bro/bro-aux.git
[submodule "aux/binpac"]
	path = aux/binpac
	url = https://github.com/bro/binpac.git
[submodule "aux/broccoli"]
	path = aux/broccoli
	url = https://github.com/bro/broccoli.git
[submodule "aux/broctl"]
	path = aux/broctl
	url = https://github.com/bro/broctl.git
[submodule "aux/btest"]
	path = aux/btest
	url = https://github.com/bro/btest.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/bro/cmake.git
[submodule "src/3rdparty"]
	path = src/3rdparty
	url = https://github.com/bro/bro-3rdparty.git
